:root{
    font-size: 10px;
}

body{
    background:rgba(204,204,204,255);
}

#container{
    height:30vw;
    width:80%;
    background: radial-gradient(grey,black);
    position:fixed;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

#titlu{
    font-size: 3rem;
    color:white;
    font-weight: bold;
    padding-inline-start: 1ch;
    padding-block-start:1ch;
}

#article{
    font-size: 1rem;
    height:45%;
    width:90%;
    background-color: rgb(57, 48, 48,0);
    position:fixed;
    left:50%;
    top:30%;
    transform:translate(-50%,-50%);
    color:white;
    inset-block-start: 70%;
    inset-block-end:1%;
    border-top: 0.2ch solid white;
    border-bottom: 0.2ch solid white;
}
#buton{
    background-color: rgba(69,78,90,255);
    border-radius:0.3rem;
    padding-inline:2ch;
    padding-block:1ch;
    position:fixed;
    left:90%;
    top:90%;
    font-size:1rem;

}