:root{
    font-size: 12rem;
}

body{
    background: grey;
}

#container{
    height:50vw;
    width:50vh;
    background-color: aquamarine;
    position:fixed;
    left:50%;
    top:50%;
    transform: translate(-50%);
}