@import url("https://fonts.googleapis.com/css2?family=Seymour+One&display=swap");

:root {
  --white: #eee;
}

html {
  background: rgb(211, 209, 209);
}

section {
  position: fixed;
  background: radial-gradient(rgb(83, 85, 90), rgb(41, 45, 54));
  height: 70vh;
  width: 55%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.32rem;
}

header {
  padding-top: 2.9rem;
  color: var(--white);
  font-family: "Seymour One", sans-serif;
  padding-inline-start: 1.8rem;
}

article {
  color: var(--white);
  border-block: 0.12rem solid;
  position: fixed;
  font-size: 1rem;
  height: 60%;
  width: 93%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
}

article::-webkit-scrollbar {
  display: none;
}

button {
  position: fixed;
  right: 1.56rem;
  top: 85%;
}

#close-modal {
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
  transform: translate(50%, -50%);
  background: #44444b;
  box-shadow: 0rem 0.18rem 2rem #000000;
  border-radius: 50%;
  font-size: 0.9rem;
  padding: 1.4rem;
  color: var(--white);
  font-weight: 500;
  line-height: 0.62rem;
}

@media (width < 576px) {
  html {
    background: rgb(211, 209, 209);
  }

  section {
    height: 37.5rem;
    width: 18.12rem;
  }

  button {
    top: 84%;
    width: 15rem;
    border-radius: 0.5rem;
  }

  #close-modal {
    font-weight: 400;
    font-size: 0.93rem;
    padding: 0.62rem;
  }

  article {
    width: 80%;
    height: 22.81rem;
  }
}
