<style>
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=EB+Garamond&display=swap');
</style>



:root{
    font-size: 16px;
}

body{
    background:rgba(204,204,204,255);
}

#container{
    height:60vh;
    width:63%;
    background: radial-gradient(rgba(71,75,84,255),rgba(43,47,56,255));
    position:fixed;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 2ch;
}

#titlu{
    font-size: 4rem;
    color:white;
    font-weight: bold;
    padding-inline-start: 1ch;
    padding-block-start:  0.5rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#article{
    font-size: 1rem;
    height: 60%;
    width:95%;
    background-color: rgb(57, 48, 48,0);
    position:fixed;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    color:white;
    border-top: 0.2ch solid white;
    border-bottom: 0.2ch solid white;
    font-family:'Times New Roman', Times, serif;

}
#buton{
    background-color: rgba(69,78,90,255);
    border-radius:0.7rem;
    padding-inline:1.5rem;
    padding-block:1rem;
    position:fixed;
    left:85%;
    top:85%;
    font-size:1rem;
    box-sizing: border-box;
    color:white;

}

#close_window{
    background-color: rgba(69,78,90,255);
    height:4rem;
    width:4rem;
    border-radius:2rem;
    position:fixed;
    right:-2rem;
    top:-2rem;
    z-index:1;
    font-size: 2.5rem;
    color:white;
    font-weight: bold;
    font-family: 'Balsamiq Sans', cursive;

}